# Forge lib (track submodules, ignore the rest)
lib/*
!lib/forge-std/
!lib/openzeppelin-contracts/

# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env
