[profile.default]
src = "src"
out = "out"
libs = ["lib"]

optimizer = true
optimizer_runs = 1000  # Higher runs = smaller deployment size
via_ir = true          # Enable IR optimizer for better optimization

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
