name: Tide Creation CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  integration-test:
    name: End-to-End Tide Creation Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_PAT }}
          submodules: recursive
      
      - name: Install Flow CLI
        run: sh -ci "$(curl -fsSL https://raw.githubusercontent.com/onflow/flow-cli/master/install.sh)"
      
      - name: Flow CLI Version
        run: flow version
      
      - name: Update PATH
        run: echo "/root/.local/bin" >> $GITHUB_PATH
      
      - name: Install Flow dependencies
        run: flow deps install --skip-alias --skip-deployments
      
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      
      # Step 1: Start environment & deploy contracts
      - name: Setup and Deploy Full Stack
        run: |
          ./local/setup_and_run_emulator.sh &
          sleep 15
          ./local/deploy_full_stack.sh
      
      # Step 2: Create yield position from EVM
      - name: Create Tide Request from EVM
        run: |
          cd solidity
          forge script ./script/CreateTideRequest.s.sol --rpc-url localhost:8545 --broadcast --legacy
      
      # Step 3: Process request (Cadence worker)
      - name: Process Requests
        run: flow transactions send ./cadence/transactions/process_requests.cdc